{% extends "base.html" %}
{% block title %}FAQs{% endblock title %}

{% block body %}

<div id="bottom"></div>  <footer class="card text-bg-dark mb-1" style="max-width: 85rem;">
  <div class="card-header" align="center">
    <h5>Contact Us</h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      Have any questions or need help planning your trip? Feel free to contact us!<br>
      Email: <a href="mailto:ssana.ssaa@gmail.com">ssana.ssaa@gmail.com</a><br>
      Phone: (0092) 332-8998739
    </p>
  </div>
</footer>
{% endblock body %}